<mdb-carousel [isControls]="false" [animation]="'slide'">


    <mdb-carousel-item>
        <div align="center" style="width: 100%;">
            <table align="center" style="width: 100%;">
                <tbody>
                    <tr>
                        <td width="100%" align="center">
                            <p style="font-size: 48px; font-family: piedra, Helvetica, sans-serif; text-transform: uppercase;">
                                à l'aventure !
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center" style="width: 100%;">
                <tbody>
                    <tr>
                        <td width="50%" align="center">
                            <p style="font-size: 32px; font-family: piedra, Helvetica, sans-serif;
                             text-transform: uppercase; margin-left: 20px; margin-right: 20px; text-align: center;">
                                C'est partie !<br><span style="color: #f58a47;">Shoopy</span> sera bientôt disponible sur vos Store<br>Apple et Android !<br>
                                <span style="font-size: 18px;">08/2020</span>
                            </p>
                        </td>
                        <td width="50%" align="center" style="background-image: url('../../assets/img/espace.jpg'); opacity: 0.5 ;">
                            <img src="../../assets/img/Shoopy7.png" style="width: 320px;">
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center" style="width: 100%; ">
                <tbody>
                    <tr>
                        <td width="100%" height="30" align="center" style="border-bottom: 2px solid #f58a47;">

                        </td>
                    </tr>
                    <tr>
                        <td width="100%" height="30" align="center">

                        </td>
                    </tr>
                    <tr>
                        <td width="100%" align="center">
                            <p style="font-size: 32px; font-family: piedra, Helvetica, sans-serif;
                            margin-left: 20px; margin-right: 20px; text-align: center;">
                                La première version de <span style="color: #f58a47;">Shoopy</span> arrive très bientôt sur vos smartphones,
                                <br>vous aller pouvoir partir à l'aventure avec vos amis !
                                <br>Shoopy vous offrira une expérience utilisateur simple et rapide pour ajouter vos amis,
                                <br>sélectionner l'aventure de votre choix, et bien évidemment s'amuser !
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mdb-carousel-item>



    <mdb-carousel-item>
        <div align="center" style="width: 100%;">
            <table align="center" style="width: 100%;">
                <tbody>
                    <tr>
                        <td width="100%" align="center">
                            <p style="font-size: 48px; font-family: piedra, Helvetica, sans-serif; text-transform: uppercase;">
                                What's in my chest ?
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center" style="width: 100%;">
                <tbody>
                    <tr>
                        <td width="50%" align="center">
                            <p style="font-size: 32px; font-family: piedra, Helvetica, sans-serif;
                         text-transform: uppercase; margin-left: 20px; margin-right: 20px; text-align: center;">
                                D'autres choses arrive bientôt !
                            </p>
                        </td>
                        <td width="50%" align="center">
                            <img src="../../assets/img/Shoopy6.png" style="width: 320px;">
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center" style="width: 100%; ">
                <tbody>
                    <tr>
                        <td width="100%" height="30" align="center" style="border-bottom: 2px solid #f58a47;">

                        </td>
                    </tr>
                    <tr>
                        <td width="100%" height="30" align="center">

                        </td>
                    </tr>
                    <tr>
                        <td width="100%" align="center">
                            <p style="font-size: 32px; font-family: piedra, Helvetica, sans-serif;
                        margin-left: 20px; margin-right: 20px; text-align: center;">
                                Afin de vous offrir la meilleure expérience possible, nous tenons à ce que votre application et vos aventures vous ressembles.<br> Nous allons vous permettre de vous procurer de nouveaux costumes pour votre <span style="color: #f58a47;">Shoopy</span>,
                                mais également d'autres scénarios thématiques toujours plus palpitant ! Pour les aventuriers les plus investis, la possibilité de concevoir, éditer et partager vos propres scénarios sera bientôt possible !<br> Préparer
                                votre équipement et votre imagination, l'aventure vous appel !
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mdb-carousel-item>
</mdb-carousel>